<!DOCTYPE html>
<html>
    <head>
	    <title>Device not found</title>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="main-content">
            <p>Device not found. <a href="/devices">Back to devices</a></p>
        </div>
    </body>
</html>
